*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Smooch Sans";
    color: white;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.links-mobile{
    display: none;
}
.bg-nav{
    position: absolute;
        height:8vh;
        background-color: rgb(0, 0, 0);
        width: 100%;
}
.nav-bar{
    position: fixed;
    top:0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(2px);
    height: 8vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}
.nav-items{
    font-size: 2rem;
    padding:0 20px;
    text-decoration: underline #29065f ;
}
.nav-items:hover{
    transform: scale(1.2);
    color: rgb(209, 185, 231);
}
.home{
    padding-top: 8vh;
    width: 100%;
    height: 100vh;
    background:linear-gradient(90deg, black 75%, #321469 75%);
    display: flex;
}
.esquerda-home{
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-text{
    margin: 10px;
    text-align: center;
}
.links{
    margin-top: 13px;
    font-size: 2rem;
    padding:0px 7px;
    align-self: center;
    background-color: black;
    border:3px solid #29065F;
    border-radius: 10px;
    cursor:pointer
}
.links:hover{
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
}
@keyframes rainbow{
    20%{border-color: green;}
    40%{border-color: yellow;}
    60%{border-color: red;}
    80%{border-color: blue;}
    100%{border-color: #29065f;}
}

.direita-home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-home{
    max-width: 90%;
    max-height: 90%;
    background:linear-gradient(90deg, #321469 50%, black 50%);
 
    border-radius: 30%;
}



/*sobre mim*/
/*sobre*/

.pointer{
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}
.h2{
    font-size: 30px;
    margin: 10px;
    text-align: center;
}


#Sobre-Mim{
    padding:100px 0 100px 0;
    width: 100%;
    display: flex;
    background-color: #0B0713;
    color: white;
    font-family: 'Smooch Sans';
    font-size: 2rem;
}
.esquerda-sobre{
    flex:1;
    display: flex;
    flex-direction: column;
    
}
.curriculo{
    margin-top: 30px;
}
.foto-sobre{
    height: auto;
    max-width: 70%;

    align-self: center;

    
}


.direita-sobre{
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao-sobre{
    margin-top: 35px;
    width: 90%;
    text-align: justify;
}
.separar-horizontal{
    margin:30px 0;
    height: 3px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}
.temas{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
/* se tirar o none, aparece para escolher*/
#escolha{
    margin-top: 50px;
}
/* se tirar o none, aparece as habilidades*/
#listaHabilidades{
    margin-top: 25px;
    display: flex;
    width: 90%;
    justify-content:space-evenly ;

    display:none;
}
/* se tirar o none, aparece as experiencias*/
#menuExperiencias{
    display: flex;
    flex-direction: column;
    width: 100%;

    display: none;

}
#tituloJovem{
    text-decoration: underline #390981;
}
.lista-experiencias{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.experiencia{
    margin:0 50px 0 50px;
}
.separar-experiencia{
    height: 2rem;
}

.descricao-experiencia{
    align-self: center;
    width: 90%;
    text-align: justify;
    margin-top: 20px;
    flex-direction: column;
}

.dados-experiencia{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.dados-experiencia > h2{
    margin: 0;
    text-decoration: underline #390981;
}
.descricao-experiencia > p{
    margin-top: 15px;
    font-size: 1.65rem
}

/*projetos*/
#Projetos{
    background-color:#1A0E31;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.titulo-projetos{
    font-size: 2.6rem;
    font-weight: 550;
    padding: 70px 0 45px 0;
}
.conjunto-projetos-1, .conjunto-projetos-2{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;

}
.projeto-container{
    width: 90%;
    margin:15px auto;
    padding: 15px;
}
.projeto{
    background-color: white;
    border-top: 1rem solid #471765;
    height: 30vh;
    width: 90%;
    margin: auto;
    border-radius: 13px;

    display: flex;
    align-items: center;

}
.descricao-projeto{
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: justify;
}
.hidden {
    display: none;
}
#ver-mais{

    padding: 0 1rem;

}
.identificacao-provisoria{
    background-color: #471765;
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    padding: 20px;
}
.projeto:hover > .identificacao-provisoria{
    font-size: 2.3rem;
    
}
#contato{
    background-color: #0B0713;
    padding:50px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contatos{
display: flex;
justify-content: center;

}

.contatos{
    display: flex;
    margin: 0 30px;
    align-items: center;
}
.contatos:hover{
    transform: scale(1.2);

}
.contatos:hover > .logo-contato{
    color: rgb(209, 185, 231);
}
.contatos:hover > .contato-link{
    color: rgb(209, 185, 231);
}/* não consegui colocar nos dois filhos, por isso a redundancia*/

.logo-contato, .contato-link{
    font-size: 1.7rem;
}

.contato-link{
    margin-left: 5px;
}
#assinatura{
    margin-top: 50px;
    font-weight: 500;
}
b{
   color: #7000FF; 
}
