@media (max-width:600px){
    .nav-bar, .bg-nav,.links-site{
        display: none;
    }
    
    .home{
        flex-direction: column;
        background:linear-gradient(90deg, black 50%, #29065f 50%);
    
    }
    .menu{
        position: fixed;
        right: 3%;
        top: 3%;
        font-size: 2rem;
        z-index: 10000;
    }
    .esquerda-home{
        flex:1;
    }
    .direita-home{
       flex-direction: column;
    }
    .esquerda-sobre{
        display: none;
    }
    .links-mobile{
        display: flex;
        font-size: 1.8rem;
    }
    .foto-home{
        max-width: 80%;
        max-height: 80%;
        margin-top: 10px;
    
    }
    
    .nav-bar-aberto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 80vh;
        width: 80vw;
        background-color: rgba(0, 0, 0, 0.911);
        backdrop-filter: blur(2.5px);
        left: 10%;
        top:10%;
        z-index:1000;
        border-radius: 3%;
    }
    .nav-items{
        margin:2rem 0;
        padding: .6rem;
        background-color: black;
        border-radius: 10%;
    }
    .titulo-projetos{
        padding: 35px 0 0 0;
    }
    .identificacao-provisoria{
        padding: 0;
    }
   
    }
    @media (max-width:850px){
        .conjunto-projetos-1, .conjunto-projetos-2{
            grid-template-columns: 1fr;
        }
    }