/* se a tela for menor que 960px*/
@media (max-width:960px){
    header, #espaco{
    visibility: hidden;
    display: none;   
    }
    hr{
        background-color: black;
        height: 2px;
        width: 10px;

    }
    #menu{
        position: fixed;
        margin: 3px;
        background: #2115558c;
        color: white;
        font-size: 3rem;
        line-height:3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        }
    .apresentacao{
        flex-direction: column;
        height: 100vh;
    }
    .esquerda{
        background:linear-gradient(90deg, black 50%, #29065f 50%);
    }
    .direita{
        flex:1.2;
        align-items: flex-start;
    }
    .texto{
        font-size: 2.3rem;
    }
    .foto{
        max-width: 95%;

    }
    .desce{
        background:linear-gradient(90deg,black 50%, red 50%)
    }
    /* Projetos */  
    .conjunto-projetos{
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .projetos{
        width: 80%;
    }
    .imagem-projeto{
        transform: scale(0.8);
    }
}